body nav, body footer {
  padding-left: 0;
  transition: padding .2s;
}

#slide-out{
  transition: -webkit-transform .2s, -moz-transform, .2s transform .2s;
}

#filters{
  padding-bottom: 84px;
}

#back-to-themes i{
  font-size: 4rem;
}

#filters-clear, .rating-star, #slideout-close{
  cursor: pointer;
}

.filter-header {
  margin-top: 20px;
  margin-bottom: 10px;
}

.hidden{
  display: none;
}

.star-icon{
  vertical-align: middle;
}

h2.brand-logo, h2.brand-logo span {
  line-height: 64px;
  vertical-align: top;
}

a.brand-logo{
  font-family: Pacifico;
}

.no-float{
  float: none !important;
}

.mission{
  font-size: 2.28rem;
  margin-top: 150px;
}

#theme-nav{
  z-index: 996;
}

#recentlyAdded{
  margin-top: 150px;
}

.blog-post{
  padding-top: 40px;
}

.load-more{
  width: 100%;
  display: none;
  margin-bottom: 1.5%;
}

.chips-autocomplete input{
  color: white !important;
}

body.show-theme #themeView, body.show-theme .load-more{
  display: none;
}

body.show-theme #slide-out-button{
  display: none;
}

.swiper-container{
  margin-top: 24px;
  border: 2px #eee solid;
  border-radius: 5px;
}
.swiper-slide img{
  float: left;
}

body.show-theme #theme-wrapper{
  display: block;
}

body.show-theme #slide-out{
  -webkit-transform: translateX(-100%) !important;
  -moz-transform: translateX(-100%) !important;
  transform: translateX(-100%) !important;
}

body.show-theme #top-nav{
  box-shadow: none;
}

.swiper-container .swiper-control{
  opacity: 0;
  transition: opacity .2s;
}

.swiper-container:hover .swiper-control{
  opacity: 1;
}

.swiper-slide img{
  max-width: 100%;
}

.no-margins{
  margin: 0 !important;
}

#theme-popover{
  top: 64px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background: white;
  position: fixed;
  overflow: auto;
  display: none;
}

.site-logo {
    height: 64px;
    vertical-align: top;
    padding: 10px;
}

.theme {
  display: inline-block;
  float: left;
  width: 48%;
  margin-left: 1.5%;
  margin-bottom: 1.5%;
  position: relative;
  padding: 0;
  transition: -webkit-transform .2s, -moz-transform, .2s transform .2s;
  border-radius: 5px;
  max-width: 1366px;
}

.theme-inner{
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
}

.theme-img{
  max-width: 100%;
  float: left;
  border-radius: 5px;
  border: 2px #eee solid;
}

.theme-actions {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  padding: 2%;
  border-radius: 0px 0px 5px 5px;
  max-width: 640px;
  border: 2px #eee solid;
  border-top: none;
}

.theme-links{
  margin-top: 10px;
}
.theme-links a{
  margin-left: 10px;
  margin-right: 10px;
}

.text-shadow{
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

body.home nav, body.home footer {
  padding-left: 300px;
}



nav .nav-wrapper{
  padding-left: 1.5%;
  padding-right: 1.5%;
}

#themeView, #messages{
  padding-top: 1.5%;
}

#themeView, #messages{
  padding-left: 300px;
}


@media (max-width : 992px) {
  nav, #themeView, #messages, footer {
    padding-left: 0 !important;
  }

  .theme{
    width: 100%;
    margin-left: 0;
  }
}
